.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      form(action='/auth/local/login', method='post')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-horizontal
          h4 Login
          hr
          .col-md-8
            .form-group
              label.control-label.col-md-3(for='Username') Username
              .col-md-9
                input#Username.form-control.text-box.single-line(name='username', type='text')
            .form-group
              label.control-label.col-md-3(for='Password') Password
              .col-md-9
                input#Password.form-control.text-box.single-line.password(name='password', type='password')
            .form-group
              .col-md-offset-3.col-md-9
                button.btn.btn-default(type='submit', value='Accedi')
                  i.fa.fa-sign-in
                  |  Accedi
              .col-md-offset-3.col-md-9
                a(data-ajax='true', data-ajax-method='GET', data-ajax-mode='replace', data-ajax-target='#body-content', href='/me/recover-password-request', data-ajax-csrf=_csrf) Password dimenticata?
              .col-md-offset-3.col-md-9
                a(data-ajax='true', data-ajax-method='GET', data-ajax-mode='replace', data-ajax-target='#body-content', href='/me/recover-username-request', data-ajax-csrf=_csrf) Username dimenticato?
            include ../alerts.pug
            +alerts(alert)
          .col-md-offset-1.col-md-2
            .btn-group-vertical
              a.btn.btn-primary(href='/auth/facebook', style='background-color:#3b5998')
                i.fa.fa-facebook-official.fa-lg
                |  Facebook
              a.btn.btn-info(href='/auth/twitter', style='background-color:#1da1f2')
                i.fa.fa-twitter.fa-lg
                |  Twitter
              a.btn.btn-danger(href='/auth/google', style='background-color:#db4437')
                i.fa.fa-google.fa-lg
                |  Google

script.
  updateBrowserData('Login', '#{url}', #{ajax}, #{back}, #{noUpdate});