.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      .form-horizontal
        h4 Errore
        hr
        label #{errMessage}
script.
  updateBrowserData('Errore', '#{url}', #{ajax}, #{back}, #{noUpdate});