doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='theme-color', content='#5472F4')
        title SimeoneVilardo
        link(rel='stylesheet', type='text/css', href='/stylesheets/styles.css')
        script(type='text/javascript', src='/javascripts/scripts.js')
        script(type='text/javascript', src='/javascripts/tinymce/tinymce.min.js')
    body
        nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
            .container-fluid
                .navbar-header.page-scroll
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        |  Menu
                        i.fa.fa-bars
                    |
                    a.navbar-brand(data-ajax='true', data-ajax-method='GET', data-ajax-mode='replace', data-ajax-target='#body-content', href='/') Simeone Vilardo
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        if !currentUser
                            li
                                a(data-ajax='true', data-ajax-method='GET', data-ajax-mode='replace', data-ajax-target='#body-content', href='/auth/login', data-ajax-csrf=_csrf) Accedi
                            li
                                a(data-ajax='true', data-ajax-method='GET', data-ajax-mode='replace', data-ajax-target='#body-content', href='/auth/signup' , data-ajax-csrf=_csrf) Registrati
                        else
                            li
                                a(data-ajax='true', data-ajax-method='GET', data-ajax-mode='replace', data-ajax-target='#body-content', href='/me/profile', data-ajax-csrf=_csrf) #{currentUser.username}
                                if currentUser.role >= roles.admin.code
                                    li
                                        a(data-ajax='true', data-ajax-method='GET', data-ajax-mode='replace', data-ajax-target='#body-content', href='/management/posts', data-ajax-csrf=_csrf) Gestisci Blog
                                    li
                                        a(data-ajax='true', data-ajax-method='GET', data-ajax-mode='replace', data-ajax-target='#body-content', href='/management/users', data-ajax-csrf=_csrf) Gestisci Utenti
                        li
                            a(data-ajax='true', data-ajax-method='GET', data-ajax-mode='replace', data-ajax-target='#body-content', href='/info', data-ajax-csrf=_csrf) Informazioni
                        li
                            a(data-ajax='true', data-ajax-method='GET', data-ajax-mode='replace', data-ajax-target='#body-content', href='/contacts', data-ajax-csrf=_csrf) Contattami
                        li
                            a(data-ajax='true', data-ajax-method='GET', data-ajax-mode='replace', data-ajax-target='#body-content', href='/blog/newpost', data-ajax-csrf=_csrf) Scrivi Articolo
                        if currentUser
                            li
                                a(href='/auth/logout') Esci
        a(data-ajax='true', data-ajax-method='GET', data-ajax-mode='replace', data-ajax-target='#body-content', href='/', data-ajax-csrf=_csrf)
            header.intro-header(style="background-image: url('/images/home-bg.jpg')")
                .container
                    .row
                        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                            .site-heading
                                h1 Simeone Vilardo
                                hr.small
                                |
                                span.subheading Code and Stuff
        #body-content
            div !{partialView}
        hr
        footer
            .container
                .row
                    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                        ul.list-inline.text-center
                            li
                                a(href='https://github.com/SimeoneVilardo/SimeoneVilardoWeb')
                                    span.fa-stack.fa-lg
                                        i.fa.fa-circle.fa-stack-2x
                                        i.fa.fa-github.fa-stack-1x.fa-inverse
                        p.copyright.text-muted Copyright &copy; Simeone Vilardo 2017