.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      if(posts && posts.length > 0)
        each post in posts
          .post-preview
            a(data-ajax='true', data-ajax-method='GET', data-ajax-mode='replace', data-ajax-target='#body-content', href='/blog/post?id=' + post._id)
              h2.post-title  #{post.title}
              h3.post-subtitle  #{post.subtitle}
            p.post-meta
              | Scritto da&nbsp;
              label #{post.author.username}
              |  in data #{post.creationDate.toLocaleString('it-IT', { hour12: false })}
        #paginator
script.
  updateBrowserData('Home', '#{url}', #{ajax}, #{back}, #{noUpdate});
  $(document).ready(function () {
      $('#paginator').bootpag({
          total: #{totalPages},
          page: #{currentPage},
          maxVisible: 5,
          firstLastUse: true,
          first: '←',
          last: '→',
          leaps: true
      }).on("page", function (event, num) {
          ajaxRequest('GET', 'replace', '#body-content', '/?page=' + num, null, function(){window.scrollTo(0,0)});
      });
  });