.container
    form(data-ajax='true', method='post', data-ajax-mode='replace', data-ajax-target='#body-content', action='/blog/createpost')
        input#title.form-control.text-box.single-line(name='title', type='text', value= post ? post.title : '')
        input#subtitle.form-control.text-box.single-line(name='subtitle', type='text', value= post ? post.subtitle : '')
        textarea(name='content')
        input(type='hidden', name='postId', value= post ? post._id : '')
        input#btnSubmit.btn.btn-default(type='submit')
script.
    updateBrowserData('Crea Post', '#{url}', #{ajax}, #{back}, #{noUpdate});
    $(document).ready(function () {
        CKEDITOR.replace('content');
        CKEDITOR.instances['content'].setData((!{JSON.stringify(post || {}).replace(/<\//g, '<\\/')}).content);

        $('#btnSubmit').click(function () {
            CKEDITOR.instances['content'].updateElement();
        });
    });