.container
    form(data-ajax='true', method='post', data-ajax-mode='replace', data-ajax-target='#body-content', action= post && post._id ? '/management/editpost' : '/blog/newpost')
        if post && post._id
            input(type='hidden', name='postId', value=post._id)
        .form-horizontal
            h4 Scrivi un articolo
            hr
            .form-group
                label.control-label.col-md-2(for='title', style='text-align: left;') Titolo
                .col-md-10
                    input#title.form-control.text-box.single-line(name='title', type='text', value= post ? post.title : '')
            .form-group
                label.control-label.col-md-2(for='subtitle', style='text-align: left;') Sotto-titolo
                .col-md-10
                    input#subtitle.form-control.text-box.single-line(name='subtitle', type='text', value= post ? post.subtitle : '')
            .form-group
                .col-md-12
                    textarea.ckeditor(name='content')
            .form-group
                .col-md-offset-5.col-md-2
                    input.btn.btn-default.btn-block(type='submit')
script.
    content = (!{JSON.stringify(post || {}).replace(/<\//g, '<\\/')}).content;
    updateBrowserData('Crea Post', '#{url}', #{ajax}, #{back}, #{noUpdate});