.container
    form(data-ajax='true', method='post', data-ajax-mode='replace', data-ajax-target='#body-content', action= post && post._id ? '/management/editpost' : '/blog/newpost')
        if post && post._id
            input(type='hidden', name='_id', value=post._id)
        .form-horizontal
            h4 Scrivi un articolo
            hr
            .form-group
                label.control-label.col-md-2(for='title', style='text-align: left;') Titolo
                .col-md-10
                    input#title.form-control.text-box.single-line(name='title', type='text', value= post ? post.title : '')
            .form-group
                label.control-label.col-md-2(for='subtitle', style='text-align: left;') Sotto-titolo
                .col-md-10
                    input#subtitle.form-control.text-box.single-line(name='subtitle', type='text', value= post ? post.subtitle : '')
            if currentUser.role >= roles.admin.code
                .form-group
                    label.control-label.col-md-2(for='validate', style='text-align: left;') Convalidato
                    .col-md-10
                        input#validated(type='checkbox', name='validate', data-toggle='toggle', data-onstyle='success', data-on="Si", data-offstyle='danger', data-off="No", checked= (post && post.validation.validated))
            .form-group
                .col-md-12
                    textarea.tinymce-editor(name='content')
            .form-group
                .col-md-offset-5.col-md-2
                    button.btn.btn-primary.btn-block(type='submit')
                        i.fa.fa-send.fa-lg
                        |  Invia
script.
    content = (!{JSON.stringify(post || {}).replace(/<\//g, '<\\/')}).content;
    updateBrowserData('Crea Post', '#{url}', #{ajax}, #{back}, #{noUpdate});